#header {
  text-align: center;
}

#search {
  text-align: center;
}

#search input {
  border-width: 1px;
  border-color: gray;
  width: 30%;
}

#search button {
  border-width: 1px;
  border-color: gray;
  height: 25px;
  width: 5%;
}

#thumbnails {
  width: 90%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.media_thumbnail {
  border:3px solid red;
  padding: 3px;
  width: 225px;
  height: 150px;
}

.album_thumbnail {
  border:3px solid purple;
  padding: 3px;
  width: 225px;
  height: 150px;
}

#media {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#media a img {
  width: 100%;
}

#media_info {
  text-align: left;
  float: left;
  margin-left: 1%;
  width: 18%;
}


