{% extends 'base.html' %}

{% block body %}
    <div id=media>
      <a href="/media?hash={{ media.next_media.hash }}">
        <img id=image src="{{ media.path }}"/>
      </a>
    </div>
    <div id=media_info>
      <p>Type:<a href="/general?search=type:{{ media.type }}">{{ media.type }}</a></p>
      <p>Category:<a href="/general?search=category:{{ media.category_name }}">{{ media.category_name }}</a></p>
      <p>Artist:<a href="/general?search=artist:{{ media.artist_name }}">{{ media.artist_name }}</a></p>
      <p>Album:<a href="/general?search=album:{{ media.album_name }}">{{ media.album_name }}</a></p>
      <p>Source:<a href="{{ media.source }}">source website</a></p>
      <p>Tags:</p>
      <ul style="list-style-type:none;">
      {% for tag in media.tags %}
        <li>
          <a href="/general?search={{ tag }}">{{ tag }}</a><p>({{ tag.media_count }})</p>
        </li>
      {% endfor %}
      </ul>
      <div id="add_tag">
        <form action="" method="post">
          <input type="text" placeholder="Tag Name" name="add_tag"/>
          <button type="submit" text="Add Tag">Add Tag</button>
        </form>
      </div>
    </div>
    {% if media.album_name != None %}
    <div id=album_footer>
      <p><a href="/media?hash={{ media.previous_media.hash }}"> << </a>{{ media.album_index + 1}} / {{ media.album.length }}<a href="/media?hash={{ media.next_media.hash }}"> >> </a></p>
    </div>
    {% endif %}
{% endblock %}
