{% extends 'base.html' %}

{% block body %}
    <div id=media>
      <a href="?hash={{ media.next_media.hash }}&set={{ set }}">
        {% if media.type == "image" or media.type == "animated_image" %}
        <img id=image src="{{ media.path }}"/>
        {% elif media.type == "video" %}
        <video muted autoplay controls>
          <source src="{{ media.path }}" type="video/mp4">
          Your browser does not support the video tag.
        </video> 
        {% endif %}
      </a>
    </div>
    <div id=media_info>

      <p>Type: <a href="/searchpage?search=type:{{ media.type }}&set={{ set }}">{{ media.type }}</a></p>
      <p>Category: <a href="/searchpage?search=category:{{ media.category_name }}&set={{ set }}">{{ media.category_name }}</a></p>
      <p>Artist: <a href="/searchpage?search=artist:{{ media.artist_name }}&set={{ set }}">{{ media.artist_name }}</a></p>
      <p>Album: <a href="/searchpage?search=album:{{ media.album_name }}&set=all">{{ media.album_name }}</a></p>

      {% if edit %}
      <div class="edit_form">
        <form action="" method="post">
          <p>Source:</p>
          <input type="text" value="{{ media.source }}" name="source"/>
          <button type="submit" text="Apply">Apply</button>
        </form>
      </div>
      {% else %}
      <p>Source: <a href="{{ media.source }}">source website</a></p>
      {% endif %}

      <p>Rating: <div class='starrr' id='rating'></div> </p>
      <script src="{{ url_for('static', filename='starrr.js') }}"></script>
      {% if edit %}
      <script>
        $('#rating').starrr({
          max: 5,
          rating: "{{ media.score }}",
          change: function(e, value){
            if (value) {
              $.post('/mediapage?hash={{ media.hash }}&edit=true&set={{ set }}',
                { rating: value },
                function(data, status, xhr) {
                          alert('status: ' + status + ', data: ' + data.responseData);
                      }, 'json');
            }
          }
        });
      </script>
      {% else %}
      <script>
        $('#rating').starrr({
          max: 5,
          rating: "{{ media.score }}",
          readOnly: true
        });
      </script>
      {% endif %}
      
      <p>Tags:</p>
      <ul style="list-style-type:none;">
      {% for tag in media.tags %}
        <li>
          {% if edit %}
          <div class="edit_form">
            <form action="" method="post">
              {% endif %}
              <a href="/searchpage?search={{ tag }}&set={{ set }}">{{ tag }}</a><p>({{ tag.media_count }})</p>
              {% if edit %}
              <button type="submit" name="{{ tag }}"/>Remove</button>
            </form>
          </div>
          {% endif %}
        </li>
      {% endfor %}
      </ul>

      {% if edit %}
      <div class="edit_form">
        <form action="" method="post">
          <input type="text" placeholder="Tag Name" name="add_tag" autofocus/>
          <button type="submit" text="Add Tag">Add Tag</button>
        </form>
      </div>
      {% endif %}

      <div id="toggle_edit">
        {% if edit %}
        <form>
          <input type="button" onclick="window.location.href = window.location.pathname + '?hash={{ media.hash }}&set={{ set }}'" value="Done"/>
        {% else %}
        <form>
          <input type="button" onclick="window.location.href = window.location.pathname + '?hash={{ media.hash }}&edit=true&set={{ set }}'" value="Edit"/>
        {% endif %}
        </form>
      </div>
    </div>
    {% if media.album_name != None %}
    <div id=album_footer>
      <p><a href="?hash={{ media.previous_media.hash }}"> << </a>{{ media.album_index + 1}} / {{ media.album.length }}<a href="?hash={{ media.next_media.hash }}"> >> </a></p>
    </div>
    {% endif %}
{% endblock %}
